<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">VideoApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/videos'>Videos</a>
      </li>
     </ul> 
    </div>
    
</nav>
<!-- navbar ends -->
<br>
<br>
<div class="jumbotron">
  <h1 class=" display-4 " align="center">Welcome to VideoApp</h1>
</div>

<main>
  <article>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia explicabo culpa necessitatibus aliquid odio, omnis fugiat dicta cum reprehenderit aperiam possimus ad praesentium adipisci quidem placeat ab impedit nostrum esse!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga, minus ea consequatur error harum sapiente dolorum maxime quis, expedita laboriosam voluptate! Ab, commodi maiores optio consequuntur sequi aspernatur dicta.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ea aperiam, rerum, enim ullam quasi similique itaque molestias culpa placeat laudantium assumenda eos cupiditate quaerat est perspiciatis ratione modi pariatur.
  </article>
</main>

<!-- to Show the routed view -->
<div class="py-6">
<router-outlet></router-outlet>
</div>


<br>
<br>

<!-- Adding footer -->
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <!-- <a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a> -->
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dignissimos maiores ipsa recusandae ratione tempore aut, consequatur</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year">2021</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">https://karosearch.com</a> <span>or</span> <a href="tel:#">https://karosearch.com</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>